@model Twidder.Models.Group

@{
    ViewBag.Title = "Adaugare Grup";
}



<h2>Adaugare Grup</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Groups", method: FormMethod.Post))
    {

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.Label("Nume Grup")
        <br />
        @Html.TextBox("GroupName", null, new { @class = "form-control" })
        <br />
        @Html.Label("GroupDescription", "Descriere Grup")
        <br />
        @Html.TextArea("GroupDescription", null, new { @class = "form-control" })
        <br />
        <br />
        <button class="btn btn-success" type="submit">Adauga grup</button>

    }
