@model Twidder.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}
<div class="editEntity" style="color: black">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "ApplicationUsers"))
    {



                //@Html.HttpMethodOverride(HttpVerbs.Put)

        @Html.Hidden("Id")
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <span>@Html.Label("ProfileName", "Nume Profil") </span>
        <br />
        @Html.Editor("ProfileName")
        <br />
        <br />
        <span> @Html.Label("ProfileDescription", "Descriere profil") </span>
        <br />
        
        <br />
        @Html.Hidden("Date")
        <br />
        <span> @Html.Label("PrivateProfile", "Tip profil") </span>
        <br />
        <span> Privat: </span>
        @Html.RadioButtonFor(m => m.PrivateProfile, true)
        <span> Public: </span>
        @Html.RadioButtonFor(m => m.PrivateProfile, false)
        <br /> <br />
        <button class="btn btn-success" type="submit" style=" border: 1px solid black; background-color: whitesmoke; color: black; margin-left: 10%;">Modifica profil</button>
    }
</div>