@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
}

<div class="IndexMessage text-center container">
    <h1>@ViewBag.Message</h1>
    <h2>Profiles</h2>



    @if (User.IsInRole("Admin") || !User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" href="/ApplicationUsers/New" style="background-color: #FFFFFF ; color:black">Add Profile</a>
    }

    <br />
    <br />
    <br />

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

                <form class="card card-sm" method="GET">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>

                        <div class="col">
                            <input class="form-control form-control-lg form-controlborderless barSearch" type="text" name="searchString"
                                   placeholder="Search users here">
                        </div>

                        <br />


                        <div class="col-auto">
                            <button class="btn btn-lg btn-success btnSearch"
                                    type="submit" style="background-color: #36b4e8; color: black">
                                Search
                            </button>
                            <a class="btn btn-lg btn-success btnSearch" style="background-color: #36b4e8; color: black" href="/ApplicationUsers/Index">
                                Clear
                            </a>
                        </div>
                        <!--end of col-->
                    </div>
                 </form>
            </div>

        </div>

        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="/ApplicationUsers/Index?currentPage=@(ViewBag.currentPage-1)&searchString=@ViewBag.searchString" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 0; i < ViewBag.lastPage; i++)
                    {
                        <li>
                            <a href="/ApplicationUsers/Index?currentPage=@i&searchString=@ViewBag.searchString">@(i+1)</a>
                        </li>
                    }

                    <li>
                        <a href="/ApplicationUsers/Index?currentPage=@(ViewBag.currentPage+1)&searchString=@ViewBag.searchString" arialabel="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="containerGroups">
            @foreach (ApplicationUser profile in Model)
            {
                <div class="containerPanel">
                    <div class="panel panel-default panelGroup">
                        <div class="panel-body">
                            <div class="card" style="width: 18rem;">
                                <img  style="width:300px;height:300px; border-radius:30px" src="@(profile.ProfilePictureFilePath != null ? profile.ProfilePictureFilePath.Substring(7) : "https://upload.wikimedia.org/wikipedia/commons/3/37/No_person.jpg" )" class="card-img-top" alt="...">
                                 <div class="card-body">
                                 <h5 class="card-title">@profile.FirstName @profile.LastName</h5>
                                 <p class="card-text">Profilul este: @if (profile.PrivateProfile == true)
                            {
                                <text>privat</text>
                            }
                            else
                            {
                                <text>public</text>
                            }</p>
                                     @if ((profile.PrivateProfile && User.Identity.IsAuthenticated) || !profile.PrivateProfile) {
                                        <a class="btn btn-success btn btn-sm" style="background-color: #36b4e8; color: black" href="/ApplicationUsers/Show/@profile.Id">Afisare profil</a>
                                    }
                                 </div>
                            </div> @* cardul *@ 
                            <hr />
                        </div>
                    </div>
                </div>
            }


        </div>









    </div>
