@{
    ViewBag.Title = "Edit";
}


<form method="post" action="/Posts/Edit/@ViewBag.Post.Id">

    <label>Continut postare</label>
    <input type="text" name="Content" value="@ViewBag.Post.Content" />
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <br />

    <select name="GroupId">

        @foreach (var group in ViewBag.Groups)
        {
            if (group.Id == ViewBag.Group.Id)
            {
                <option selected="selected" value="@group.Id">@group.GroupName</option>
            }
            else
            {
                <option value="@group.Id">
                    @group.GroupName
                </option>
            }
        }

    </select>

    <br /><br />

    <button class="btn btn-success" type="submit">Modifica postare</button>

</form>


